<div class= "row">
<div class="col-6">
    <img src="images/bulb.jpeg" alt="">
  </div>
  <div class="col-6">
    <h1>Contact Us</h1>
    <h2 style="font-family: 'Courier New';">Question, Comment, Concern? We will send you an email that contains
      the neccessary information for you to fill out
      so we can reach out to you. Please Provide your details below: </h2>
    <form class="subscription-form" action="/subscribe" method="post">
      <input type="text" name="name" placeholder="Name">
      <input type="text" name="email" placeholder="Email">
      <input type="submit" name="submit">
    </form>
  </div>
</div>
  