<div class="row">
    <div class="col-6">
      <img src="/images/error.jpg" alt="Error">
    </div>
    <div class="col-6">
      <h1 style="font-size: 100px;">Negative. The page you were interested in is lost.</h1>
      <br>
      <p style="font-size: 100px;">
        Return to
        <a style="font-size: 75px; text-transform: uppercase; text-decoration: underline; color: crimson;" href="/">home!</a>
        </p>
    </div>
  </div>