<div class="row">
<div class="col-6">


<h1 style="position: relative; left: 50%; text-align: center;">Frequently Asked Questions (FAQs)</h1>
<h3 style="position: relative;
left: 50%;text-align: center;font-family:'Courier New';font-style: italic;">
For your convenience, we have provided solutions to the most common questions we recieve...</h3>

<p style="position: relative; font-size: 32px;">1. How/Where do I purchase JupiterX?
</p>
   <p style="position: relative; font-size: 25px; font-family: 'Courier New'; font-style: italic;">JupiterX is sold directly by our company BrainFood and authorized carrier retailers. Click the "Buy Now" tab next to the FAQ tab at the top of our website or directly 
    navigate to the link by clicking <a style="color: brown;" href="/purchase">here</a>.
    </p>

    <p style="position: relative; font-size: 32px;">2. What is included in the box?
    </p>
    <p style="position: relative; font-size: 25px; font-family: 'Courier New'; font-style: italic;">
    There are three items included in the box: 
    <ul style="font-family: monospace; font-size: 20px;">
        <li>JupiterX Phone </li>
        <li>BrainFood Earphones</li>
        <li>BrainFood Wireless Charger</li>
    </ul>

    <p style="position: relative; font-size: 32px;">3. What is your return/exchange policy?</p>
    </p>
    <p style="position: relative; font-size: 25px; font-family: 'Courier New'; font-style: italic;">
    Returns and exchanges can be honored within 21 days of purchase with 
    valid proof of purchase and the phone must be in good condition. 
    </p>

    <p></p>
 

</div>
</div>