<div class="row">

	<div class="col-6">

	  <img src="images/o_bg.jpeg" alt="" width="500" height="500">

	</div>

	<div class="col-6">

	  <h1 style="color:black;font-family: 'Courier New'; font-size: 85px;">JupiterX</h1>
	  <br>
	  <h2 style="font-family: 'Courier New'; color:black; font-size: 50px;"> Revolutionize your life...</h2>

	  <ul style="font-family: 'Courier New';color: black;font-size: large; font-size: 30px;">
		  <li> Powerful </li>
		  <li> Fast </li>
		  <li> Convenient</li>
		  <li> High Resolution</li>
		  <li> 5G LTE</li>
	  </ul>

	</div>

</div>
