<!DOCTYPE html>

<html>



<head>

	<meta charset="utf-8">

	<meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1">

	<title>JupiterX</title>

	<link rel="stylesheet" href="/css/bootstrap.css">

	<link rel="stylesheet" href="/css/confetti_cuisine.css">

</head>



<body>

	<div id="nav">

		<div class="col-sm nav-align">

			<h1 id="title">JupiterX</h1>

		</div>

		<div class="col-sm nav-align">

			<a href="/">

				<span class="button">Home</span>

			</a>

			<a href="/contact">

				<span class="button">Contact</span>

			</a>

			<a href="/specifications">

				<span class="button">Specifications</span>

			</a>

			<a href="/ourcompany">

				<span class="button">Our Company</span>

			</a>

			<a href="/faq">

				<span class="button">FAQ</span>

			</a>

			<a href="/purchase">

				<span class="button">Buy Now</span>

			</a>

		</div>

	</div>



	<div class="container-fluid">

		<%- body %>

	</div>



</body>



</html>
