<div class="row">

<div class="col-6">
  <div class="col-6">

	  <img style="margin-left:950px" src="images/tiger.jpg" alt="">

	</div>

      <h1 style="color:black;font-family: 'Courier New'; font-size: 75px; text-align: center;">BrainFood</h1>
      <p style="color: black;font-family: 'Courier New'; font-size: 25px;">
        Maryam Ali, our founder, graduated with an information technology degree. 
        She gave birth to our company in 2015. She wanted something unique. Something new. 
        Something unconventional. Something for the futuristic world. Our company focuses 
        not on now,but tomorrow, always tomorrow. BrainFood values diversity, integrity, 
        education, innovation, and the environment. Ordinary is boring, and that is why we pour 
        our hearts, brain, and sweat into BrainFood to ensure that our consumers never show 
        less than a grin. 
      </p>
</div>
</div>