<div class="row">

	<div class="col-6">

	  <img src="images/black.jpg" alt="" width="800" height="500">

	</div>

	<div class="col-6">

	  <h1 style="text-align: center;font-family:'Courier New'; text-decoration: underline;">Purchase</h1>

        <h2 style="text-align: left;font-family:'Courier New';">Select Finish:</h2>
        <input type="radio" id="RO" name="color" value="RO">
        <label for="RO">Rust Orange</label><br>
        <input type="radio" id="LY" name="color" value="LY">
        <label for="LY">Lemon Yellow </label><br>
        <input type="radio" id="EG" name="color" value="EG">
        <label for="EG">Emerald Green</label><br>
        <input type="radio" id="CB" name="color" value="CB">
        <label for="CB">Cerulian Blue</label><br>
        <input type="radio" id="JB" name="color" value="JB">
        <label for="radio">Jet Black</label><br>

        <h2 style="text-align: left;font-family:'Courier New';">Select Capacity:</h2>
        <input type="radio" id="150" name="gb" value="150">
        <label for="150">150 GB</label><br>
        <input type="radio" id="350" name="gb" value="350">
        <label for="350">350 GB </label><br>
        <input type="radio" id="550" name="gb" value="550">
        <label for="550">550 GB</label><br>

        <h2 style="text-align: left;font-family:'Courier New';">Select Carrier:</h2>
        <input type="radio" id="ver" name="carrier" value="ver">
        <label for="ver">Verizon</label><br>
        <input type="radio" id="sprint" name="carrier" value="sprint">
        <label for="sprint">Sprint </label><br>
        <input type="radio" id="at" name="carrier" value="at">
        <label for="at">AT&T</label><br>
        <input type="radio" id="tm" name="carrier" value="tm">
        <label for="tm">T-Mobile</label><br>

        <h2 style="text-align: left;font-family:'Courier New';">Select Shipping:</h2>
        <input type="radio" id="std" name="ship" value="std">
        <label for="std">Standard (FREE) 7-10 Business Days</label><br>
        <input type="radio" id="three" name="ship" value="three">
        <label for="three">Express ($13.99) 3 Business Days </label><br>
        <input type="radio" id="nd" name="ship" value="nd">
        <label for="nd">Next Day Delivery ($23.99) Within 24 Hours</label><br>
        <br>

        <button type="button" class="button1">Continue</button> 

        <br>
        <br>

	</div>

</div>
    