<div class="row">

    <div class="col-6">
        <img src="images/dimensions.jpg" alt="">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <img src="images/camera.jpg" alt="">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <img src="images/gps.jpg" alt="">
      </div>
      <div class="col-6">
        <h1 class="title" style="font-family: 'Courier New'; font-size: 80px;">Anatomy</h1>
        <ul style="font-family: 'Courier New';font-size: 50px;">
          <li>Height: 6.0 inches </li>
          <li>Width: 3.15 inches </li>
          <li>Weight: 6.03 ounces </li>
          <br>
          <br>
          <li>HD Display: 2800 pixels x 1800 pixels</li>
          <li>Chip: X010 Intelligence Engine</li>
          <br>
          <br>
          <li>Camera: 20 Megapixels</li>
          <li>Video Recording: 4K, 1080p</li>
          <li>Charging: Fast Wireless Recharging</li>
          <li>Battery: Up to 16 hours</li>
          <br>
          <br>
          <li>Resistance: Water + Dust  </li>
          <li>Digital Assistant: Athena</li>
          <li>Sensors: Fingerprint + Face + Voice</li>
          <br>
          <br>
          <li>Operating Platform: Sagittarius 2.7 </li>
          <li>RAM: 8 GB</li>
          <li>Storage: 150 GB, 350 GB, 550 GB</li>
          <li>Material: Ceramic</li>
        </ul>
      </div>
    </div>