<div class="row">
<div class="col-6">
    <img src="/images/yellow.jpg" alt="">
  </div>
  <div class="col-sm-6">
    <h1 style="font-size: 30px; font-family:'Courier New'; font-size: 40px;">Thank you for your submission. Your interest means a lot to us. We will get back to you promptly.</h1>
   <br>
    <p style="font-family: 'Courier New'; font-size: 30px; color: blue;"> Return to 
      <a style="text-decoration: underline; text-transform: uppercase; color: crimson;"href="/">home...</a>
    </p>
  </div>
</div>