<h1>About</h1>

<head>
    <style>
        p {font-size: 25px;}
        h1 {text-align: center;
        padding-top: 50px;}
    </style>
</head>

<p>
    Flavor enthusiast <strong>Maryam Ali</strong> launched the first Burger Bar Restaurant in <strong>Chicago,
    Illinois on July 7, 2020.</strong> Today, there are more than 25 Burger Bars in all of the Midwest.
</p>

<p>
    Burger Bar Restaurants are reputable for a substantial gathering of people including families,
    children, seniors, and employers. Our Burger Bars are perfect for <strong>events</strong>, facilitating
    a <strong>business lunch</strong>, or assembling for a <strong>flavorful dinner with those you love most.</strong>
</p>

<p>
    Our utmost priority is to create an <strong>enticing</strong> and <strong>memorable experience</strong> for our customers.
    We understand that we are what we eat, so we strive to provide our customers with food that meets
    the <strong>highest standards in both safety and flavor.</strong>
</p>

<p>To tell us about your experience, please contact us at customerservices@burgerbar.com <br>
For press inquiries, please contact us at press.services@burgerbar.com</p>