<div class="home-banner">
<div class="banner-text">

    <h1>{{title}}</h1>
    <div class="only-price"><span>Starting at</span><span class="price">$5</span></div>
</div>
    <div class="banner-img">
        <img src="/images/burgerhome.png"/>
    </div>
</div>