<style>
    h1 {
        text-align: center;
    }
    .card-container {
        display: flex;
        max-width: 80%;
        margin: auto;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card {
        width: 503px;
        border: 3px solid #e3dada;
        display: flex;
        flex-direction: column;
        margin: 3px 5px;
    }
    .card .burger-img {
        width: 500px;
        height: 400px;
    }
    .card .burger-label {
        font-size: 30px;
        color: red;
        text-align: center;
    }
</style>

<h1>Menu</h1>

<div class="card-container">
    <div class="card">
        <img class="burger-img" src="../images/spicybeef.jpg" alt="spicy beef">
        <label class="burger-label"> The Spicy Beef burger</label>
    </div>
    <div class="card">
        <img class="burger-img" src="../images/garlicchicken.jpg" alt="garlic chicken">
        <label class="burger-label">The Garlic Chicken burger</label>
    </div>
    <div class="card">
        <img class="burger-img" src="../images/potatoandbeans.jpg" alt="potato and beans">
        <label class="burger-label"> The Potato and Beans burger</label>
    </div>
</div>

