<div class="register-page">
<h1>Registration</h1>
<p>Registering is free! You get...</p>
<ul>
    <li>Exclusive discounts, specials, and perks</li>
    <li>Online Ordering</li>
    <li>Access to our newsletter</li>
</ul>

<form action='#' method='post'>

  <table>
    <tr>
      <td>
        <label for='username'>Username</label>
        <input type='text' name='username' id='username' />
      </td>
    </tr>
    <tr>
      <td>
        <label for='username'>First Name</label>
        <input type='text' name='firstName' id='firstName' />
      </td>
    </tr>
    <tr>
      <td>
        <label for='username'>Last Name</label>
        <input type='text' name='lastName' id='lastName' />
      </td>
    </tr>
    <tr>
      <td>
        <label for='password'>Password</label>
         <input type='password' name='password' id='password' />
      </td>
    </tr>
    <tr>

      <td>
        <button type='submit'>Register</button>
      </td>
    </tr>
  </table>
</form>
</div>
<!--+919782795905-->